<section data-ng-controller="ApocalypsesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="apocalypse.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == apocalypse.user._id))">
		<a class="btn btn-primary" href="/#!/apocalypses/{{apocalypse._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
      Apocalypse on
      <span data-ng-bind="apocalypse.date | date:'mediumDate'"></span>
      , posted on
      <span data-ng-bind="apocalypse.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="apocalypse.user.displayName"></span>
		</em>
	</small>
</section>
